{% load i18n %}

{% block content %}
<form method="post" action="/accounts/login/" target="_top">

{{ request.GET.error }}
  <p>
    You need an account in order to create new games or chat.
    Anonymous users are allowed to spectate only.  Accounts are free!
  </p>

{% csrf_token %}

  <div class="label100">Username:</div> {{ form.username }}<br />
  <div class="label100">Password:</div> {{ form.password }}<br />
  
  <input type="submit" value="{% trans 'Log in' %}" />
  <!-- <input type="hidden" name="next" value="{{ next }}" /> -->
  <input type="hidden" name="next" value="/" />
</form>

<p>{% trans "Forgot password" %}? <a href="{% url auth_password_reset %}">{% trans "Reset it" %}</a>!</p>
<p>{% trans "Not member" %}? <a href="{% url registration_register %}">{% trans "Register" %}</a>!</p>

{% endblock %}
