{% extends "Skin.html" %}

{% block head %}
{% include "GoServer/HeaderJavascript.html" %}
<script>
NetClient_instance.joingame( {{ Game.id }} );
</script>
{% endblock %}

{% block content %}

View Game #{{ Game.id }}

<div>
 <h2>Game Info</h2>
 {{ Game }}
</div>

{% if not Game.PlayersAssigned %}
<div>
 <h2>Join Game</h2>
 This game is waiting for another player.  Use the form below to make a request to join this game.
 <form method="post">
 {{ GameForm.as_p }}
 <input type=submit value="Join">
 </form>
</div>

{% endif %}

<div id="Participants">
 <h2>Participants</h2>
 <select multiple size=4 id="ParticipantSelect">
   <option value="Loading...">
 </select>
 </ul>
</div>

<div id="Chat">
 <h2>Chat</h2>
 <textarea cols=80 rows=7 id="ChatTextarea" readonly></textarea><br>
 <input size=60 type=text id="ChatLine"><button type=button onClick="NetClient_instance.chat( document.getElementById('ChatLine').value );">Send</button>
</div>

{% endblock %}

