{% extends "Skin.html" %}

{% block head %}

<script> document.domain = document.domain; </script>
<script type="text/javascript" src="http://localhost:8001/static/Orbited.js"></script>
<script type="text/javascript" src="/static/NetClient.js"></script>
<script> 
NetClient_preload("{{ request.session.session_key }}");
window.addEventListener("load", NetClient_start, false); 
</script>

{% endblock %}

{% block content %}

View Game #{{ Game.id }}

<div>
 <h2>Game Info</h2>
 {{ Game }}
</div>

{% if not Game.PlayersAssigned %}
<div>
 <h2>Join Game</h2>
 This game is waiting for another player.  Use the form below to make a request to join this game.
 <form method="post">
 {{ GameForm.as_p }}

{% endif %}

<div id="Participants">
 <h2>Participants</h2>
 <ul>
 {% for GameParticipant in GameParticipants %}
 <li>{{ GameParticipant.Participant.username }} (<b>{{ GameParticipant.State }}</b>)</li>
 {% endfor %}
 </ul>
</div>


{% endblock %}

