{% extends "Skin.html" %}

{% block head %}
<script>document.domain = document.domain; // for orbited </script>
<script type="text/javascript" src="/static/Orbited.js"></script>
<script type="text/javascript" src="/static/NetClient.js"></script>
<script type="text/javascript" src="/static/jquery/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/jquery/js/jquery-ui-1.8.1.custom.min.js"></script>
<script type="text/javascript" src="/static/interface.js"></script>
<link type="text/css" href="/static/jquery/css/owgs/jquery-ui-1.8.1.custom.css" rel="stylesheet" />	
<script type="text/javascript">
 // this instantiates netclient and puts it in the global namespace
 NetClient_preload("{{ request.session.session_key }}", {{ DebugMode }});
 // start netclient on-load
 $( NetClient_start );
</script>

{% endblock %}

{% block content %}
<div id="ifacetabs">
  <ul>
   <li><a href="#tab-1">Home</a></li>
  </ul>
  <div id="tab-1">
   Quick Links:
   <ul>
    <li><a href="javascript:void(0);" onClick="javascript:$('#ifacetabs').tabs('add', '/games/active', 'Active Games');">Active Game List</a></li>
    <li><a href="javascript:void(0);" onClick="javascript:$('#ifacetabs').tabs('add', '/games/archive', 'Archived Games');">Archived Game List</a></li>
    <li><a href="javascript:void(0);" onClick="openChatTab();">Chat</a></li>
   </ul>
  </div>
</div>
{% endblock %}

