<div style="float:right; display:inline-block; padding:10px;">
  <img src="/static/owgs/Go_board.jpg" width=450>      
</div>    

<h1 style="margin-bottom:15px;">Welcome to OWGS; the Open Web Go Server!</h1>

<div class="rounded" style="float:left; display:inline-block; margin:5px; background-color: #CCB; margin-right:15px; padding:5px;">
  
  <h2 style="margin-bottom:6px;">Main Menu</h2>
  
  <a href="javascript:void(0);" onClick="iface.makeChatTab(1);">Chat</a>
  <br />
  
  <a href="javascript:void(0);" onClick="$('#ifacetabs').tabs('add', '/games/new', 'Create Game');">Create Game</a>
  <br />
  
  <a href="javascript:void(0);" onClick="iface.makeGameListTab('active');">Active Games</a>
  <br />
  
  <a href="javascript:void(0);" onClick="iface.makeGameListTab('archive');">Archived Games</a>
  <br />
  
</div>

<h2>What is OWGS?</h2>

<p>
  OWGS is a free web application
  enabling <a href="http://en.wikipedia.org/wiki/Go_(game)">go/baduk/wei-qi</a>
  players to find one another, play games online, review games and
  chat.
</p>

<p>
  OWGS runs in your browser in pure javascript; no plugins are
  required.  OWGS is an event-driven real-time server; your moves are
  instantly visible to the other player(s) and vice-versa, without
  polling.  OWGS is a 100% open source application licensed under
  GPLv2, free to use and modify.
</p>

<p>
 OWGS is in development, it is NOT a stable project.  
</p>

<p>
  <h2>News</h2>
  <ul>
    <li><b>2012/09/03</b> - Fixes to login, registration and game tab management.</li>
  </ul>
</p>
 
<p>   
  <a href="http://github.com/Tecuya/owgs">OWGS on github</a> - 
  <a href="http://senseis.xmp.net/?OWGS">OWGS on Sensei's Library</a>
</p>

<div style="clear:both;"></div>

<div style="text-align:center">   
  <div style="background-color: #fff; display:inline-block; padding:5px; text-align:center;" class="rounded">   
    <span style="font-size:0.5em;">OWGS is made possible by...<br /><br /></span>

    <a href="http://www.python.org" title="Python"><img src="/static/owgs/python-powered-w-140x56.png" height=34></a>

    <a href="http://www.djangoproject.com" title="Django"><img src="/static/owgs/django-logo.jpg" height=34></a>

    <a href="https://bitbucket.org/desmaj/orbited" title="Orbited"><img src="/static/owgs/orbited-logo.png" height=34></a>

    <a href="http://www.twistedmatrix.com" title="Twisted"><img src="/static/owgs/TwistedLogo-64wide.png" height=34></a>

    <a href="http://www.eidogo.com" title="Eidogo"><img src="/static/owgs/eidogo.png" height=34></a>

  </div>
</div>     

