
{% block content %}
<h2>Create Game</h2>
<h3>For now, all time fields are in seconds.</h3>

<div style="padding-top:10px;">
 <form method="post">
  {% csrf_token %}   
  <div class="label150">Type</div> {{ GameForm.Type }}<br />
  <div class="label150">Board Size</div> {{ GameForm.BoardSize }}<br />
  <div class="label150">Komi</div> {{ GameForm.Komi }}<br />
  <div class="label150">Allow Undo</div> {{ GameForm.AllowUndo }}<br />
  <div class="label150">Main Time</div> {{ GameForm.MainTime }}<br />
  <div class="label150">Overtime Type</div> {{ GameForm.OvertimeType }}<br />
  <div class="label150">Overtime Period</div> {{ GameForm.OvertimePeriod }}<br />
  <div class="label150">Overtime Count</div> {{ GameForm.OvertimeCount }}<br />
  
  <button type="button" onClick="iface.createGame()">Create</button>
 </form>
</div>

{% endblock %}
