{% extends "goserver_skin.html" %}

{% block head %}
<script>document.domain = document.domain; // for orbited </script>
<script type="text/javascript" src="/static/Orbited.js"></script>

<link type="text/css" href="/static/jquery/css/owgs/jquery-ui-1.8.1.custom.css" rel="stylesheet" />	
<script type="text/javascript" src="/static/jquery/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/jquery/js/jquery-ui-1.8.22.custom.min.js"></script>
<style type="text/css">
#ifacetabs li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
</style>

<script type="text/javascript"> 
// init netclient vars from django
netclient_session_key = "{{ request.session.session_key }}";
netclient_debug_mode = {{ DebugMode }};
</script>
<script type="text/javascript" src="/static/NetClient.js"></script>
<script type="text/javascript" src="/static/Interface.js"></script>
<script type="text/javascript" src="/static/eidogo/js/lang.js"></script>
<script type="text/javascript" src="/static/eidogo/js/eidogo.js"></script>
<script type="text/javascript" src="/static/eidogo/js/util.js"></script>
<script type="text/javascript" src="/static/eidogo/i18n/en.js"></script>
<script type="text/javascript" src="/static/eidogo/js/gametree.js"></script>
<script type="text/javascript" src="/static/eidogo/js/sgf.js"></script>
<script type="text/javascript" src="/static/eidogo/js/board.js"></script>
<script type="text/javascript" src="/static/eidogo/js/rules.js"></script>
<script type="text/javascript" src="/static/eidogo/js/player.js"></script>
<script type="text/javascript" src="/static/eidogo/js/init.js"></script> 
{% endblock %}

{% block content %}
<div id="ifacetabs">
  <ul>
   <li><a href="#tab-1">Home</a></li>
  </ul>
  <div id="tab-1">

    <div style="float:right; display:inline-block; padding:10px;">
      <img src="/static/owgs/Go_board.jpg" width=450>      
    </div>    

    <h1 style="margin-bottom:15px;">Welcome to OWGS; the Open Web Go Server!</h1>
    
    <div class="rounded" style="float:left; display:inline-block; margin:5px; background-color: #CCB; margin-right:15px; padding:5px;">
      
      <h2 style="margin-bottom:6px;">Quick Start</h2>
      
      <a href="javascript:void(0);" onClick="iface.makeChatTab(1);">Chat</a>
      <br />
      
      <a href="javascript:void(0);" onClick="$('#ifacetabs').tabs('add', '/games/new', 'New Game');">New Game</a>
      <br />
      
      <a href="javascript:void(0);" onClick="iface.makeGameListTab('active');">Active Games</a>
      <br />
      
      <a href="javascript:void(0);" onClick="iface.makeGameListTab('archive');">Archived Games</a>
      <br />
      
    </div>
    
   <h2>What is OWGS?</h2>
   
   <p>
     OWGS is a free web application
     enabling <a href="http://en.wikipedia.org/wiki/Go_(game)">go/baduk/wei-qi</a>
     players to find one another, play games online, review games and
     chat.
   </p>

   <p>
     OWGS runs in your browser in pure javascript; no plugins are
     required.  OWGS is an event-driven real-time server; your moves
     are instantly visible to the other player(s) and vice-versa,
     without polling.  OWGS is an open source application, free to use
     and modify.  
   </p>

   <div style="clear:both;"></div>
   
   <div style="text-align:center">   
     <div style="background-color: #fff; display:inline-block; padding:5px; text-align:center;" class="rounded">   
       <span style="font-size:0.5em;">OWGS is made possible by...<br /><br /></span>

       <a href="http://www.python.org" title="Python"><img src="/static/owgs/python-powered-w-140x56.png" height=34></a>

       <a href="http://www.djangoproject.com" title="Django"><img src="/static/owgs/django-logo.jpg" height=34></a>

       <a href="http://www.twistedmatrix.com" title="Twisted"><img src="/static/owgs/TwistedLogo-64wide.png" height=34></a>

       <a href="http://www.eidogo.com" title="Eidogo"><img src="/static/owgs/eidogo.png" height=34></a>

     </div>
   </div>     

  </div>
</div>

{% endblock %}


