body 
{
    font-family: verdana, arial, helvetica;
    background-color: #DDDDCC;
    font-size: 12px;
}

h1 
{
    font-size: 19px;
    margin: 0;
    padding: 0;
    color: #333311;
}

h2
{
    font-size: 14px;
    margin: 0;
    padding: 0;
    color: #333311;
}

h3
{
    margin: 0;
    padding: 0;
    font-size: 9px;    
}



a {
	color: #847440;
    font-weight: bold;
}

a:hover {
	color: #558899;
    text-decoration: underline;
}

#topright {
    font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;   
    display: block;
    float: right;
    height: 10px;
    padding: 6px;
    border: solid #D0D0C0 2px !important;
    background-color: #D3D3C4;
    color: #000000 !important;
    -moz-border-radius-topleft: 10px; 
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;    
    margin-right: 5px;
}

#topright a { 
    margin-left: 8px;
	color: #847440;
    text-decoration: none;
}

#topright a:hover {
	color: #558899;
    text-decoration: underline;
}

#topmenu {
    padding-top: 5px;
	font-family: Arial, Helvetica, sans-serif;
    margin-left: 3px;
}

#topmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#topmenu li {
	float: left;
}

.activelink { 
    background-color: #CCCCBB; 
    color: #000000 !important;
    border-top: solid #BBBBAA 2px !important;    
    border-left: solid #BBBBAA 2px !important;    
    border-right: solid #BBBBAA 2px !important;    
    border-bottom: solid #CCCCBB 2px !important; 
    -moz-border-radius-topleft: 10px; 
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

#topmenu a {
	display: block;
	float: left;
    font-weight: bold;
    padding: 6px;
	height: 10px;
	text-decoration: none;
	font-size: 12px;
	color: #847440;
    border: solid #DDDDCC 2px;
}

#topmenu a:hover {
	color: #558899;
    text-decoration: underline;
    background-color: #DADAC9;
    border-top: solid #CACAB9 2px;    
    border-left: solid #CACAB9 2px;    
    border-right: solid #CACAB9 2px;    
    border-bottom: solid #DADAC9 2px; 
    -moz-border-radius-topleft: 10px; 
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

#content {
    clear: both;
    padding: 5px;
    overflow: hidden;
    background-color: #CCCCBB;
    border: solid #BBBBAA 2px;
    -moz-border-radius: 4px; 
    -webkit-border-radius: 4px;
}

.gamebox { 
    padding: 2px; 
    margin: 0px; 
    float:left; 
}

#gamelist ul { 
    list-style: none;
}

#gamelist a {
    padding-right: 9px; 
}

#footer { 
    font-size: 8px;
}