<html>
<head>
 <title>Open Web Go Server</title>
{% block head %}{% endblock %}
 <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>
<body>

<div id="header">

<h1>OWGS</h1>
<h3>Open Web Go Server</h3>

<div id="topmenu">
 <ul>
   <li><a {% ifequal request.path "/" %}class="activelink"{% endifequal %} href="{% url site-homepage %}">News</a></li>
   <li><a {% ifequal request.path "/chat" %}class="activelink"{% endifequal %} href="{% url chat %}">Chat</a></li>
   <li><a {% ifequal request.path "/games/active" %}class="activelink"{% endifequal %} href="{% url game-list %}">Active Game List</a></li>
   <li><a {% ifequal request.path "/games/archive" %}class="activelink"{% endifequal %} href="{% url game-archive %}">Game Archives</a></li>
   <li><a {% ifequal request.path "/games/new" %}class="activelink"{% endifequal %} href="{% url game-create %}">New Game</a></li>
   <li><a {% ifequal request.path "/iiface" %}class="activelink"{% endifequal %} href="{% url iiface %}">Experimental Interface</a></li>
 </ul>
</div>

<div id="topright">
 {% if user.is_authenticated %}
 Logged in as {{ user.username }} <a href="/accounts/profile">Edit Profile</a> <a href="/accounts/logout">Log Out</a>
 {% else %}
 <a href="/accounts/login">Log In</a>
 {% endif %}
</div>

</div>

<div id="content">
 {% block content %}No content!{% endblock %}
</div>

<div id="footer">
<a target="_blank" href="http://github.com/Tecuya/owgs/">Visit OWGS on github</a>
<a target="_blank" style="float:right;"href="http://github.com/Tecuya/owgs/blob/master/LICENSE">License</a>
</div>

</body>
</html>
