<html>
<head>
 <title>Go Server</title>
{% block head %}{% endblock %}
</head>
<body>
<h1> Go Server </h1>

<div style="font-weight:bold; float:left; display:inline;">
 <a href="{% url site-homepage %}">Index</a> | 
 <a href="{% url chat %}">Chat</a> | 
 <a href="{% url game-list %}">Active Game List</a> |
 <a href="{% url game-archive %}">Game Archives</a> | 
 <a href="{% url game-create %}">New Game</a><br />

</div>

<div style="float:right; display:inline;">
 {% if user.is_authenticated %}
 Logged in as {{ user.username }} | <a href="/accounts/logout">Log Out</a>
 {% else %}
 <a style="font-weight:bold;" href="/accounts/login">Log In</a>
 {% endif %}
</div>

<div style="border: solid black 1px; clear:both; padding:5px;  overflow:hidden;">
 {% block content %}No content!{% endblock %}
</div>

</body>
</html>
